:root {
  --card-bg-color: hsl(193, 100%, 28%);
  --card-text-color: hsl(0, 0%, 97%);
  --link-color: hsl(270, 50%, 40%);
  --link-hover-color: hsl(269, 53%, 47%);
}

.news-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.post-card {
  color: var(--card-text-color);
  background-color: var(--card-bg-color);
  max-width: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.post-card__content {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-card__content > * {
  margin: 0;
  padding: 0;
}

.post-card > img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
}

.post-card__title {
  color: var(--card-text-color) !important;
}

.post-card__datetime > p {
  padding-bottom: 0;
  font-weight: 600;
}

.post-card__link {
  display: block;
  margin: auto;
  color: var(--card-text-color);
  background-color: var(--link-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 250ms ease-in-out;
}

.post-card__link:hover {
  background-color: var(--link-hover-color);
}
